
    "openconfig-system:ntp": {
        "servers": {
            "server": [
                {
                    "address": "1.us.pool.ntp.org",
                    "config": {
                        "address": "1.us.pool.ntp.org"
                    },
                    "state": {
                        "address": "1.us.pool.ntp.org"
                    }
                }
            ]
        }
    }
