{% if virtual_chassis is not none %}
{% for member in virtual_chassis["members"] %}
{% for interface in member["interfaces"] %}
{% if 'meh' in interface["name"] %}
{% include "./ios/_loopback.j2" %}
{% elif 'svans' in interface["name"] %}
{% include "./ios/_svi.j2" %}
{% else %}
{% include "./ios/_physical.j2" %}
{% endif %}
{% endfor %}
{% endfor %}
{% else %}
{% for interface in interfaces %}
{% if 'meh' in interface["name"] %}
{% include "./ios/_loopback.j2" %}
{% elif 'slans' or 'slans' in interface["name"] %}
{% include "./ios/_svi.j2" %}
{% else %}
{% include "./ios/_physical.j2" %}
{% endif %}
{% endfor %}
{% endif %}
