username cleartext privilege 15 password 0 clearpass
{% raw -%}
username {{ "device-ssh-creds" | get_secret_by_secret_group_name('username') }} privilege 15 secret 9 {{ "device-ssh-creds" | get_secret_by_secret_group_name('password') | encrypt_cisco_type9 }}
{% endraw -%}
