username cleartext privilege 15 password 0 clearpass
{% raw -%}
{% set _username = secret | get_secret_by_secret_group_name('username') -%} 
{% set _password = secret | get_secret_by_secret_group_name('password') | encrypt_cisco_type9 -%} 
username {{ _username }} privilege 15 secret 9 {{ _password }}
{% endraw -%}
